body {
	background-color: #542f19;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

li>strong {
	text-decoration: underline;
}

#left {
	float: left;
	width: 30%;
	height: calc(100% - 48px);
	margin-top: 24px;
	margin-bottom: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;

	border: 8px solid #221105;
	border-radius: 8px;
	background-color: #bbccff;
	overflow: scroll;
	position: fixed;
	box-sizing: border-box;

	font-size: 20px;
}
#boarddivwrapper {
	position:relative;
	box-sizing: border-box;
	overflow: scroll;
	margin-top: 8px;
	margin-bottom: 8px;
}
#choose_piece {
	margin-top: 8px;
	margin-bottom: 8px;
}
#choose_piece details {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 0.2em solid #8877ff;
}
legend {
	font-size: 1.25em;
}

#right {
	float: right;
	width: calc(70% - 12px);
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

h1 {
	font-variant: small-caps;
	font-size: 3em;
	text-align: center;
	color: #ffffff;

	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	padding-top: 20px;
	padding-bottom: 20px;

	border: 8px solid #221105;
	border-radius: 8px;
	background-color: #743f39;
	box-sizing: border-box;
}

h2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border-radius: 8px;
	padding-left: 120px;
	padding-top:20px;
	padding-bottom:20px;

	font-family: sans-serif;
	font-size: 2em;
	color: #ffffff;
	background-color: #221105;

	box-sizing: border-box;
}

h3 {
	margin: 8px;
	border-radius: 8px;
	padding: 20px;

	font-family: sans-serif;
	font-size: 1.25em;
	color: #ffffff;
	background-color: #221105;

	box-sizing: border-box;
}
#left h3 {
	background-color: #110533;
}

div.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;

	border: 8px solid #221105;
	border-radius: 8px;
	background-color: #ffeecc;
	box-sizing: border-box;
}

div.content>:not(h2, figcaption, .mathjaxcontent), div.content button {
	font-size: 24px;
	line-height: 36px;
	font-family: sans-serif;
	text-align: justify;
}

summary {
	cursor: pointer;
}

figure.floatright {
	float: right;
}

figure.fullwidth {
	width: 95%;
	margin: auto;
}

figure.fullwidth>img:first-child {
	width: 48%;
	margin-left:1%;
	margin-right:0.9%;
	float: left;
}
figure.fullwidth>img:nth-child(2) {
	width: 48%;
	margin-right:1%;
	margin-left:0.9%;
	float: left;
}
figure.fullwidth>br{
	clear: both;
}

figure {
	width: 450px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 1em;
	margin-bottom: 0;

	border: 1px solid #221105;
	border-radius: 8px;
	box-sizing: border-box;
}

figure>img {
	margin:auto;
	display: block;
}

figcaption {
	font-size: 14px;
	text-align: justify;
}

hr {
	border-top: 8px solid #44220a;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 8px;
	width: 90%
}

a {
	color: #542f19;
}

fieldset {
	border-color: #8877ff;
}

/*****/


table#maintable {
	background-color: #ffffff;
	white-space: nowrap;
	border-spacing: 0px;
	border:2px solid black;
	padding: 1em;
	margin: 0 auto;
	border-collapse: collapse;
}

table#maintable td {
	cursor: default;
	user-select: none;
	position: relative;

	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	box-sizing: border-box;	
}

table#maintable td .cell {
	margin:0px;
	width: 40px;
	height: 40px;
	aspect-ratio: 1 / 1 ;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
}

.pieceemoji {
	font-size: 26px;
	margin: 0;
	padding: 0;
	z-index: 2;
	text-shadow: #222266 0 0 5px;
}

.lightcell:not(.startcell) {
	background-color: #ffcc77;
}
.darkcell:not(.startcell) {
	background-color: #552222;
}
.lightcell.selectable {
	background-color: #aaaaaa;
	cursor: pointer;
}
.darkcell.selectable {
	background-color: #777777;
	cursor: pointer;
}

.startcell {
	background-color: #88cc33;
}
.lightcell.highlighted:not(.selectable,.startcell) {
	background-color: #dd6666;
}
.darkcell.highlighted:not(.selectable,.startcell) {
	background-color: #880000;
}

.cellinnertext {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;
	overflow: hidden;
	font-size: 10px;
}
.lightcell .cellinnertext {
	color: black;
}
.darkcell .cellinnertext {
	color: white;
}

.divline {
	z-index:10;
	background-color:red;
	border-radius: 2px;
	margin:0px;
	padding:0px;
	height:4px;
	transform-origin:2px 2px;
	pointer-events: none; 
}